html {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiE_AxUPlNYSvuJSrHRFz355ETZtIGShGfJwIAv9Ht-DLYE2SdRmvxQPDR7NZkEgiXhTM&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
}
.body {
    font-family: Apple Chancery, cursive;
    backdrop-filter: blur(5px)
}

h1 {
    color:cyan;
    ;
    text-decoration: underline;
    text-align: center;
}

p{
    color:black;
    font-weight: bold;
    text-align: center;
}

h3, u1 {
    color:blueviolet
}